<app-semaforo></app-semaforo>

<p [ngStyle]="propiedadesParrafo">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga rerum expedita consectetur adipisci sed alias porro saepe placeat, unde inventore optio ratione tempora aperiam ducimus accusantium sapiente repudiandae odit nobis?
</p>
<div>
    <button (click)="onClick('V')">Verde</button>
    <button (click)="onClick('A')">Amarillo</button>
    <button (click)="onClick('R')">Rojo</button>
</div>

<div>
  <input type="text" [(ngModel)] = "propiedadesParrafo.color">
</div>

<div>
  <input type="range" min="12" max="120" step="2" (input)="onInput($event)">
</div>

<!--  <div>   Primera forma de hacerlo
  <p *ngIf="mostrar">Párrafo a mostrar con botón y directiva *ngIf</p>
  <button (click)="onClickMostrar()">Mostrar/Ocultar</button>
</div> --> 

<div>   <!-- Segunda forma de hacerlo-->
  <p *ngIf="mostrar">Primer Párrafo a mostrar directiva *ngIf=mostrar</p>
  <p *ngIf="!mostrar">Segundo Párrafo a mostrar directiva *ngIf=!mostrar</p>
  <button (click)="onClickMostrar()">Mostrar/Ocultar</button>
</div>

