.semaforo
{
  width: 200px;
  height: 200px;
  background-color: blue ;
}

.redondo
{
  border-radius: 50%;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}
